body {background-color:black;font-family: arial;color: white}
h1{color:gray; font-family: verdana;padding: 10px;}

.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
   
       
}
.secdiv{
    align-content: center;
    width: 350px;
    margin: auto;
}
